<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660598613666-f76iog1sr2l1c8l349v7iut2h4an8aft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660598613666-f76iog1sr2l1c8l349v7iut2h4an8aft</string>
	<key>API_KEY</key>
	<string>AIzaSyC2wYhBrx2PyuM5pbT_ViwZ75a7LMLSwlM</string>
	<key>GCM_SENDER_ID</key>
	<string>660598613666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rit.BookApp</string>
	<key>PROJECT_ID</key>
	<string>bookapp-74103</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-74103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660598613666:ios:cea6f73284f9ac17f159fb</string>
</dict>
</plist>